{% extends 'flask_user/_public_base.html' %}
{% block content %}
    <section id="gtco-hero" class="gtco-cover" style="background-image: url(/static/images/bg.jpg);"  data-section="home"  data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-center">
					<div class="display-t">
						<div class="display-tc">
							<h1 class="animate-box" data-animate-effect="fadeIn">La biblioteca en la que puedes confiar</h1>
							<p class="gtco-video-link animate-box" data-animate-effect="fadeIn"><a href="https://www.youtube.com/watch?v=MSYw502dJNY" class="popup-vimeo"><i class="icon-controller-play"></i></a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

    <section id="gtco-nuevo-libro" data-section="nuevo-libro">
        <div class="container">
            <div class="row row-pb-md">
				<div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
					<h1>Bienvenidos al repositorio de libros del Perú</h1>
					<p class="sub">Libros a tu alcance.<br> <em>No es preciso tener muchos libros, sino tenerlos buenos. - Séneca</em></p>
					<p class="subtle-text animate-box" data-animate-effect="fadeIn">Welcome</p>
				</div>
			</div>
            <div class="row">
				<div class="col-md-6 col-md-pull-1 animate-box" data-animate-effect="fadeInLeft">
					<div class="img-shadow">
                        <a href="/biblioteca"><img src="/static/images/img_1.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
					</div>
				</div>
				<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
					<h2 class="heading-colored">¡Nuevos Libros!</h2>
					<p>La última edición de Java en pocas palabras está diseñada para ayudar a los programadores Java experimentados a sacar el máximo provecho de Java 7 y 8,también es una ruta de aprendizaje para los nuevos desarrolladores.La primera sección de este libro completamente actualizado proporciona una introducción rápida y sin complicaciones al lenguaje de programación de Java y aspectos principales de tiempo de ejecución de la versión completa de ejemplos que demuestran cómo aprovechar al máximo las API modernas de Java y mejores prácticas de desarrollo. En esta edición...</p>
					<p><a href="/biblioteca" class="read-more">Read more <i class="icon-chevron-right"></i></a></p>
				</div>
			</div>
		</div>
	</section>
    <section id="gtco-featured-books" data-section="featured-books">
		<div class="container">
        <div class="row row-pb-md">
				<div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
					<h1>Series & Colecciones</h1>
					<p class="sub">Nuestra selección de temas que conforman el repositorio.</p>
				</div>
			</div>
		<div class="row">
				<div class="col-md-6">
					<div class="gtco-biblioteca-item animate-box">
						<div class="gtco-icon">
							<img src="/static/images/scale2.png" height=43px width=43px alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
						</div>
						<div class="gtco-copy">
							<h3>Matemáticas y Lógica</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed scelerisque sapien. Sed sodales, libero non faucibus rutrum, purus tellus finibus diam, eget ornare tortor leo eget erat. </p>
						</div>
					</div>

					<div class="gtco-biblioteca-item animate-box">
						<div class="gtco-icon">
							<img src="/static/images/scale5.png" height=43px width=43px alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
						</div>
						<div class="gtco-copy">
							<h3>Programación</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed scelerisque sapien. Sed sodales, libero non faucibus rutrum, purus tellus finibus diam, eget ornare tortor leo eget erat. </p>
						</div>
					</div>

				</div>
				<div class="col-md-6">

					<div class="gtco-biblioteca-item animate-box">
						<div class="gtco-icon">
							<img src="/static/images/scale3.png" height=43px width=43px alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
						</div>
						<div class="gtco-copy">
							<h3>Ciencias e Ingeniería</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed scelerisque sapien. Sed sodales, libero non faucibus rutrum, purus tellus finibus diam, eget ornare tortor leo eget erat. </p>
						</div>
					</div>

					<div class="gtco-biblioteca-item animate-box">
						<div class="gtco-icon">
							<img src="/static/images/scale4.png" height=43px width=43px alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
						</div>
						<div class="gtco-copy">
							<h3>Literatura</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed scelerisque sapien. Sed sodales, libero non faucibus rutrum, purus tellus finibus diam, eget ornare tortor leo eget erat. </p>
						</div>
					</div>


				</div>
			</div>
		</div>
	</section>

	<section id="gtco-bibliotecas" data-section="bibliotecas">
		<div class="container">
            <div class="row row-pb-md">
				<div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
					<h1>Nuestro Equipo</h1>
					<p class="sub">Aquellos que hicieron posible este proyecto.</p>
					<p class="subtle-text animate-box" data-animate-effect="fadeIn">Nuestro Equipo</p>
				</div>
			</div>
			<div class="row team-item gtco-team-reverse">
				<div class="col-md-6 col-md-push-7 animate-box" data-animate-effect="fadeInRight">
					<div class="img-shadow">
						<img src="/static/images/tang.jpeg" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
					</div>
				</div>
				<div class="col-md-6  col-md-pull-6 animate-box" data-animate-effect="fadeInRight">
					<h2><br>Alejandro Tang</h2>
					<p>"Alicia  empezaba  ya  a  cansarse  de  estar  sentada  con su  hermana  a  la  orilla  del  río,  sin  tener  nada  que hacer: había echado un par de ojeadas al libro que su hermana  estaba  leyendo,  pero  no  tenía  dibujos  ni diálogos. «¿Y de qué sirve un libro sin dibujos ni diálogos?», se preguntaba Alicia." </p>
                    <p>-Lewis Carroll, <i>Alicia en el País de las Maravillas</i></p>
				</div>
			</div>

			<div class="row team-item gtco-team">
				<div class="col-md-6 col-md-pull-1 animate-box"  data-animate-effect="fadeInLeft">
					<div class="img-shadow">
						<img src="/static/images/jonathanprieto.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
					</div>
				</div>
				<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
					<h2><br>Jonathan Prieto</h2>
                    <p>"El  universo  (que  otros  llaman  la  Biblioteca)  se  compone  de  un  número  indefinido,  y tal  vez  infinito,  de  galerías  hexagonales,  con  vastos  pozos  de  ventilación  en  el  medio, cercados por barandas bajísimas. Desde cualquier hexágono se ven los pisos inferiores y superiores:  interminablemente.  La  distribución  de  las  galerías  es  invariable.  Veinte anaqueles, a cinco largos anaqueles por lado, cubren todos los lados menos dos; su altura, que es la de los pisos, excede apenas la de un bibliotecario normal..."</p>
                    <p>-Jorge Luis Borges, <i>La Biblioteca de Babel</i></p>
				</div>
			</div>
            		<div class="row team-item gtco-team-reverse">
				<div class="col-md-6 col-md-push-7 animate-box" data-animate-effect="fadeInRight">
					<div class="img-shadow">
						<img src="/static/images/diegolinares.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
					</div>
				</div>
				<div class="col-md-6  col-md-pull-6 animate-box" data-animate-effect="fadeInRight">
					<h2><br>Diego Linares</h2>
                    <p>Estudiante de 4to semestre de Ciencias de la Computación. Tiene bonita letra. Vivió en Japón por un año. Le gusta leer y de vez en cuando escribir en su tiempo libre. Su historia favorita es "Los Gallinazos sin Plumas" de Julio Ramón Ribeyro. Su objetivo es crear plataformas que permitan facilitarle la vida a otros estudiantes como él.</p>
				</div>
			</div>

			<div class="row team-item gtco-team">
				<div class="col-md-6 col-md-pull-1 animate-box"  data-animate-effect="fadeInLeft">
					<div class="img-shadow">
						<img src="/static/images/roos.JPG" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
					</div>
				</div>
				<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
					<h2><br>Roosevelt Ubaldo</h2>
					<p>Un joven estudiante de CS con un gusto extraordinario por la literatura peruana y mundial. Tienen dentro de sus libros y autores favoritos a Los perros hambrientos de Ciro Alegría y El túnel de Ernesto Sábato. Cree profundamente que el conocimiento debe ser democratizado y puesto a disposición de quien lo necesite.</p>
				</div>
			</div>
		</div>
	</section>



	<section id="gtco-contact" data-section="contact">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
					<h1>¡Contáctanos!</h1>
					<p class="sub">Un libro solo tiene valor mientras tenga lectores, y una biblioteca mientras tenga visitantes.</p>
					<p class="subtle-text animate-box" data-animate-effect="fadeIn">Contact</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-push-6 animate-box">
					<form action="#">
						<div class="form-group">
							<label for="name" class="sr-only">Name</label>
							<input type="text" class="form-control" placeholder="Name" id="name">
						</div>
						<div class="form-group">
							<label for="email" class="sr-only">Email</label>
							<input type="text" class="form-control" placeholder="Email" id="email">
						</div>
						<div class="form-group">
							<label for="message" class="sr-only">Message</label>
							<textarea name="message" id="message" class="form-control" cols="30" rows="7" placeholder="Message"></textarea>
						</div>
						<div class="form-group">
							<input type="submit" value="Send Message" class="btn btn-primary">
						</div>
					</form>
				</div>
				<div class="col-md-4 col-md-pull-6 animate-box">
					<div class="gtco-contact-info">
						<ul>
							<li class="address">Jr. Medrano Silva 165, Barranco,Lima - Peru</li>
							<li class="phone"><a href="tel://51987654321">+51 987 654 321</a></li>
							<li class="email"><a href="mailto:info@olp.com">info@olperu.com</a></li>
							<li class="url"><a href="https://olibraryperu.herokuapp.com/">https://olibraryperu.herokuapp.com/</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}