<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/libs/bootstrap.min.js" ></script>
</head>
<header class="header1" id="header1">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
    <table width="100%">
  <tr>
    <th><img src="/static/images/logo1.png"/></th>
  </tr>
    <tr>
        <td><h1>Biblioteca<span class="badge badge-secondary">Online</span></h1></td>
    </tr>
</table>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div align="right" class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
                  <li style="margin-right: 10px; margin-left: 10px" class="nav-item">
                 <form action="/">
        <button class="btn btn-primary btn-lg active" role="button" type="submit">Inicio</button>
                </form>
      </li>
            <li style="margin-right: 10px; margin-left: 10px" class="nav-item">
                 <form action="/login">
        <button class="btn btn-primary btn-lg active" role="button" type="submit">Login</button>
                </form>
      </li>
      <li style="margin-right: 10px; margin-left: 10px" class="nav-item">
                 <form action="/register">
        <button class="btn btn-secondary btn-lg active" role="button" type="submit">Registrarse</button>
                </form>
      </li>
        <li style="margin-right: 10px; margin-left: 10px" class="nav-item">
                 <form action="/addbooks">
        <button class="btn btn-primary btn-lg active" role="button" type="submit">Subir un libro</button>
                </form>
      </li>
      <li class="nav-item">
        <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
      <button class="btn btn-outline-success my-2 my-sm-0" value="Login" type="submit">Buscar</button>
    </form>
      </li>
    </ul>
  </div>
</nav>
</header>
<body>
 <form action="/do_register" method="post">
        <table align="center">
            <tr>
             <td style="font-size: 18px; font-family: 'Arial Black'" align="center">Registro de nuevo usuario:</td>
            </tr>
            <br>


            <tr>
                <td>
                    <br>
                    <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="name">&#9755;</span>
  </div>
  <input type="text" name="name" class="form-control" placeholder="Name" aria-label="name" aria-describedby="basic-addon1">
</div></td>
            </tr>


            <tr>
                <td><div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="fullname">&#10146;</span>
  </div>
  <input type="text" name="fullname" class="form-control" placeholder="Fullname" aria-label="fullname" aria-describedby="basic-addon1">
</div></td>
            </tr>


            <tr>
                <td><div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="password">&#10146;</span>
  </div>
  <input type="password" name="password" class="form-control" placeholder="Password" aria-label="password" aria-describedby="basic-addon1">
</div></td>
            </tr>

            <tr>
                <td><div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="username">&#10146;</span>
  </div>
  <input type="text" name="username" class="form-control" placeholder="Username" aria-label="username" aria-describedby="basic-addon1">
</div></td>
            </tr>


            <tr>
                <td align="right"><input type="submit" value="Guardar" class="btn btn-dark"/></td>
            </tr>
        </table>
    </form>
</body>
</html>