<!DOCTYPE html>
<html>
<head>
    <title>Cambiar Informacion Libros</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <script src="/static/js/libs/jquery.min.js"></script>
<script>window.jQuery || document.write(decodeURIComponent('%3Cscript src="js/jquery.min.js"%3E%3C/script%3E'))</script>
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/18.1.6/css/dx.common.css" />
    <link rel="dx-theme" data-theme="generic.light" href="https://cdn3.devexpress.com/jslib/18.1.6/css/dx.light.css" />
    <script src="/static/js/libs/dx.all.js"></script>
    <script src="https://unpkg.com/devextreme-aspnet-data@1.4.7"></script>
    <script src="/static/js/index2.js"></script>
</head>
<body class="dx-viewport">
    <div class="demo-container">
        <div id="grid"></div>
    </div>
</body>
</html>